# Add any directories, files, or patterns you don't want to be tracked by version control
frontend/node_modules
frontend/config.json
frontend/dist
electron-app/node_modules
backend/config.json

# package directories
backend/node_modules
backend/jspm_packages

# Serverless directories
backend/.serverless

# Webpack directories
backend/.webpack

soon-2-b-logo.png