{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": "warn",
    "max-len": [
      "error",
      {
        "ignoreUrls": true
      }
    ],
    "react/jsx-no-bind": false
  },
  "plugins": [
    "import"
  ]
}